@font-face {
    font-family: Ubuntu;
    src: url(./assets/fonts/Ubuntu-Bold.ttf);
}

body{
    background-color: hsl(229, 24%, 87%);
    font-family: ubuntu;
}
ul{
    list-style: none;
}
/*principal section*/
.principal_box{
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 70vh;
    background-color: hsl(231, 100%, 99%);
    position: absolute;
    right: 20%;
    top: 15%;
    padding: 10px;
    border-radius: 20px;
}

/*navBar*/
.navBar{
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    width: 400px;
    height: auto;
    border-radius: 20px;
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navBar ul > li{
    display: flex;
    flex: 1 100%;
    flex-wrap: nowrap;
    gap: 20px;
    flex-direction: row;
    padding-bottom: 20px;
}

.navBar ul>li > span{
    width: 35px;
    align-self: center;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
}
.navBar ul>li> h5{
    
    justify-content: flex-end;
    align-items: flex-end;
    align-self: center;
    justify-self: flex-end;
    color: white;
}




/*stepOne component*/
.stepOne{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-self: center;
    padding: 20px 80px;
    text-wrap: wrap;
    text-align: center;
    font-size: 16px;
    width: 100%;
}
.stepOne h1{
    font-size: 35px;
    color: hsl(213, 96%, 18%);
}
.stepOne p{
   padding-bottom: 25px;
   font-size: 17px;
   letter-spacing: 1px;
   color: hsl(231, 11%, 63%);
}
.stepOne form{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
    height: 80%;
    gap: 10px;
    position: relative;
    padding-top: 30px;
}
.stepOne form input{
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 10px;
    color: hsl(213, 96%, 18%);
}
.stepOne form label{
    color: hsl(213, 96%, 18%);
}
.stepOne form button{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: hsl(213, 96%, 18%);
    color: white;
}
.active{
    color: hsl(231, 11%, 63%) !important;
}
.active_back{
    background-color: hsl(231, 11%, 63%) !important;
    color: hsl(213, 96%, 18%) !important;
}