@font-face {
    font-family: Ubuntu;
    src: url(./assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: Ubuntu_medium;
    src: url(./assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: Ubuntu_regular;
    src: url(./assets/fonts/Ubuntu-Regular.ttf);
}

body {
    background-color: hsl(229, 24%, 87%);
    font-family: ubuntu;

}

ul {
    list-style: none;
}

/*principal section*/
.principal_box {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 70vh;
    background-color: hsl(231, 100%, 99%);
    position: absolute;
    right: 20%;
    top: 15%;
    padding: 10px;
    border-radius: 20px;
}

/*navBar*/
.navBar {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    width: 20vw;
}

.navBar .desktop {
    width: 20vw;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    padding: 15px;
    object-fit: cover;
    border-radius: 30px;
}

.mobile {
    display: none;
}

.navBar ul {
    z-index: 1;
}

.navBar ul>li {
    display: flex;
    flex: 1 100%;
    flex-wrap: nowrap;
    gap: 20px;
    flex-direction: row;
    padding-bottom: 20px;
}

.navBar ul>li>span {
    width: 35px;
    align-self: center;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    font-family: Ubuntu_medium;
}

.navBar ul>li>h5 {

    justify-content: flex-end;
    align-items: flex-end;
    align-self: center;
    justify-self: flex-end;
    color: white;
}

.navBar ul>li>h5>span {
    font-family: Ubuntu_regular;
    font-size: 16px;
    font-weight: 500;
}



/*stepOne component*/
.stepOne {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-self: center;
    padding: 20px 40px;
    text-wrap: wrap;
    text-align: center;
    font-size: 16px;
    width: 40vw;
}

.stepOne h1 {
    font-size: 35px;
    color: hsl(213, 96%, 18%);
}

.stepOne p {
    padding-bottom: 25px;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: hsl(231, 11%, 63%);
    font-family: Ubuntu_medium;
}

.stepOne form {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
    height: 80%;
    gap: 10px;
    position: relative;
    padding-top: 30px;
}

.stepOne form input {
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 10px;
    color: hsl(213, 96%, 18%);
    -webkit-text-fill-color: hsl(213, 96%, 18%);
    font-family: Ubuntu;
}

.stepOne form label {
    color: hsl(213, 96%, 18%);
    font-family: Ubuntu_medium;
}

.stepOne form button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: hsl(213, 96%, 18%);
    color: white;
    border: none;
}

.active {
    color: hsl(231, 11%, 63%) !important;
}

.active_back {
    background-color: hsl(231, 11%, 63%) !important;
    color: hsl(213, 96%, 18%) !important;
}

/*stepTwo component*/
.stepTwo {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-self: center;
    padding: 20px 40px;
    text-wrap: wrap;
    text-align: center;
    font-size: 16px;
    width: 40vw;
    height: calc(70vh - 10px);
}

.stepTwo h1 {
    font-size: 35px;
    color: hsl(213, 96%, 18%);
}

.stepTwo p {
    padding: 5px 0px;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: hsl(231, 11%, 63%);
    font-family: Ubuntu_medium;
}

.stepTwo form article {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: calc(40vw - 40px);
    padding: 40px 0px;
}

.stepTwo form article>span {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 10vw;
    height: 28vh;
    border: solid 1px hsl(229, 24%, 87%);
    border-radius: 20px;
    cursor: pointer;
    padding: 20px;
    color: hsl(213, 96%, 18%);

}

.stepTwo form article>span>p {
    font-family: ubuntu_medium;
}

.stepTwo form article>span h6 {
    color: hsl(213, 96%, 18%);
}

.select_box {
    border: solid 1px hsl(213, 96%, 18%) !important;
}

.stepTwo form article>span img {
    width: 50px;
    align-self: flex-start;
}

.stepTwo form article>span p {
    color: hsl(231, 11%, 63%);
}

/*duration selector*/
.stepTwo form div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 15px;
    background-color: hsl(217, 100%, 97%);
    border-radius: 10px;
}

.stepTwo form div h5 {
    color: hsl(213, 96%, 18%);
}

.stepTwo form div span {
    width: 34px;
    height: 18px;
    background-color: hsl(213, 96%, 18%);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.stepTwo form div span::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 2.5px;
    right: 3px;
    background-color: white;
}

.active_current_btn {
    left: 3px;
}

.active_current_btn::before {
    left: 3px;
}



/*buttons*/
.stepTwo form .btn_next {
    position: absolute;
    bottom: 0;
    right: 30px;
    bottom: 30px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: hsl(213, 96%, 18%);
    color: white;
    cursor: pointer;
    font-family: ubuntu_medium;
    border: none;
}

.stepTwo form .btn_back {
    position: absolute;
    bottom: 0;
    left: 30px;
    bottom: 30px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    color: hsl(231, 11%, 63%);
    cursor: pointer;
    border: none;
    font-family: ubuntu_medium;
}

/*stepThree component*/
.stepThree {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-self: center;
    padding: 20px 40px;
    text-wrap: wrap;
    text-align: center;
    font-size: 16px;
    width: 40vw;
    height: calc(70vh - 10px);
}

.stepThree h1 {
    font-size: 35px;
    color: hsl(213, 96%, 18%);
}

.stepThree>p {
    padding-bottom: 25px;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: hsl(231, 11%, 63%);
    font-family: Ubuntu_medium;
}

.stepThree form {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
    height: 80%;
    gap: 10px;
    position: relative;
    padding-top: 30px;
}

.stepThree form>div {
    width: 100%;
    height: 11vh;
    border: solid 1px hsl(229, 24%, 87%);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
}

.stepThree form>div input {
    flex: 1;
    border: solid 1px hsl(231, 11%, 63%);
    color: hsl(243, 100%, 62%) !important;
    background-color: hsl(243, 100%, 62%) !important;
}

.box_addOns {
    border: solid 1px hsl(243, 100%, 62%) !important;
}

.stepThree form>div h5 {
    flex: 4;
    color: hsl(231, 11%, 63%);
}

.stepThree form>div h5 span {
    color: hsl(213, 96%, 18%);
    font-family: ubuntu_medium;
    font-weight: 600;
}

.stepThree form>div h5 {
    font-family: ubuntu_medium;
    font-weight: 500;
}

.stepThree form>div p {
    color: hsl(243, 100%, 62%);
    flex: 1;
    font-family: ubuntu_regular;
    font-size: 18px;
}

/*buttons*/
.stepThree form .btn_next {
    position: absolute;
    bottom: 0;
    right: 0px;
    bottom: 30px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: hsl(213, 96%, 18%);
    color: white;
    cursor: pointer;
    font-family: ubuntu_medium;
    border: none;
}

.stepThree form .btn_back {
    position: absolute;
    bottom: 0;
    left: 0px;
    bottom: 30px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    color: hsl(231, 11%, 63%);
    cursor: pointer;
    border: none;
    font-family: ubuntu_medium;
}

/*stepFour component*/
.stepFour {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-self: center;
    padding: 20px 40px;
    text-wrap: wrap;
    text-align: center;
    font-size: 16px;
    width: 40vw;
    height: calc(70vh - 10px);
}

.stepFour h1 {
    font-size: 35px;
    color: hsl(213, 96%, 18%);
}

.stepFour>p {
    padding: 15px 0px 25px 0px;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: hsl(231, 11%, 63%);
    font-family: Ubuntu_medium;
}

.stepFour.form {
    display: flex;
}

.stepFour form>div {
    width: 35vw;
    height: 11vh;

    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    background-color: hsl(217, 100%, 97%);
}

.stepFour form>div:first-of-type h5 a {
    color: hsl(231, 11%, 63%);

}

.stepFour form>div:first-of-type p {
    font-family: ubuntu;
}

.stepFour form>div:last-of-type {
    background-color: hsl(231, 100%, 99%);
    padding-top: 0px;
}

.stepFour form>div:last-of-type h5 {
    color: hsl(231, 11%, 63%);
    letter-spacing: 0.3px;
}

.stepFour form>div:last-of-type p {
    font-family: ubuntu;
    color: hsl(243, 100%, 62%);
    padding-right: 5px;
}

.stepFour form>section {
    border-top: 1px solid hsl(229, 24%, 87%);
    background-color: hsl(217, 100%, 97%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 35vw;
    height: 20vh;
    padding: 10px;
    border-radius: 15px;
}

.stepFour form .medium_box {
    display: flex;
    flex-direction: row;

    height: 6vh;
}

.stepFour form .medium_box h5 {
    flex: 2;
    text-align: left;
    padding-left: 10px;
    color: hsl(231, 11%, 63%);
    font-family: ubuntu_regular;
}

.stepFour form .medium_box p {
    flex: 1;
    color: hsl(213, 96%, 18%);
}

.stepFour form>div h5 {
    flex: 2;
    text-align: left;
    padding-left: 10px;
    color: hsl(213, 96%, 18%);
}

.stepFour form>div p {
    flex: 1;
    color: hsl(213, 96%, 18%);
    font-family: ubuntu_medium;
}


/*buttons*/
.stepFour form .btn_finish {
    position: absolute;
    bottom: 0;
    right: 30px;
    bottom: 30px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: hsl(243, 100%, 62%);
    color: white;
    cursor: pointer;
    box-shadow: none;
    border: none;
}

.stepFour form .btn_back {
    position: absolute;
    bottom: 0;
    left: 30px;
    bottom: 30px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    color: hsl(231, 11%, 63%);
    cursor: pointer;
    border: none;
    font-family: ubuntu_medium;
}

/*thankyou component*/
.thankYou {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding: 20px 40px;
    text-wrap: wrap;
    text-align: center;
    font-size: 16px;
    width: 40vw;
    height: calc(70vh - 10px);
    gap: 10px;
}

.thankYou h1 {
    font-size: 35px;
    color: hsl(213, 96%, 18%);
}

.thankYou p {
    width: 70%;
    line-height: 25px;
    color: hsl(231, 11%, 63%);
    text-align: center;
}

@media (max-width: 376px) {
    body {}

    /*principal section*/
    .principal_box {
        flex-direction: column;
        width: 90vw;
        height: 50vh;
        top: 200;
        right: 20px;
        z-index: 10;
        background-color: transparent;
    }

    /*navBar*/
    .navBar {
        position: relative;
        bottom: 139px;
        right: 28px;
        background-color: aqua;
        width: 375px;
        height: 300px;
        z-index: -3;
    }

    .navBar ul {
        padding-top: 10px;
        padding-left: 30px;
        display: flex;
        flex-direction: row;
        gap: 0px;
    }

    .navBar .desktop {
        display: none;
    }

    .navBar .mobile {
        display: flex;
        width: 375px;
        height: 200px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        padding: 0px;
        object-fit: cover;
        border-radius: 0px;
    }

    .navBar ul>li>h5 {
        display: none;
    }

    /*stepOne component*/
    .stepOne {
        position: relative;
        bottom: 180px;
        right: 0;
        justify-content: flex-start;
        align-items: flex-start;
        justify-self: center;
        padding: 10px 30px;
        text-wrap: wrap;
        text-align: center;
        font-size: 16px;
        width: 100%;
        height: auto;
        background-color: white;
        border-radius: 20px;
    }

    .stepOne p {
        padding-bottom: 0px;
        letter-spacing: 0;
        text-align: start;
        font-size: 16px;
    }

    .stepOne form button {
        bottom: -330px;
        right: -30px;
    }

    /*stepTwo component*/
    .stepTwo {
        position: relative;
        bottom: 180px;
        right: 0;
        width: 100%;
        height: auto;
        background-color: white;
    }

    .stepTwo h1 {
        text-align: start;
        font-size: 25px;
    }

    .stepTwo p {
        letter-spacing: 0;
        text-align: start;
        font-size: 16px;
        font-family: ubuntu_regular;
    }

    .stepTwo form article {
        flex-direction: column;
        gap: 15px;
    }

    .stepTwo form article>span {
        width: 70vw;
        height: 9vh;
        display: grid;
        grid-template: 1fr 1fr 1fr/ 1fr 3fr;
        justify-content: center;
        align-items: center;
    }

    .stepTwo form article>span img {
        width: 35px;
        height: 35px;
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .stepTwo form article>span h4 {
        grid-column: 2/2;
        grid-row: 1/2;
        justify-self: left;
    }

    .stepTwo form article>span p {
        padding: 0;
        grid-column: 2/2;
        grid-row: 2/2;
    }

    .stepTwo form article>span h6 {
        grid-column: 2/2;
        grid-row: 3/3;
        justify-self: left;
    }

    /*duration selector*/
    .stepTwo form div {
        width: 260px;
    }

    /*buttons*/
    .stepTwo form .btn_next {
        bottom: -230px;
        right: 0px;
    }

    .stepTwo form .btn_back {
        bottom: -230px;
        left: 0;
    }

    /*stepThree component*/
    .stepThree {
        position: relative;
        bottom: 180px;
        right: 0;
        width: 100%;
        height: auto;
        background-color: white;
    }

    .stepThree h1 {
        text-align: start;
        font-size: 25px;
        position: relative;
        right: 15px;
    }

    .stepThree p {
        letter-spacing: 0;
        text-align: start;
        font-size: 14px;
        font-family: ubuntu_regular;
        position: relative;
        right: 15px;
    }



    .stepThree form {
        padding-top: 0px;
        width: 280px;
        position: relative;
        right: 15px;
    }


    .stepThree form>div {
        width: 280px;
        padding: 2px;
        margin-right: 25px;
    }

    .stepThree form>div h5 span {
        font-size: 14px;
    }

    .stepThree form>div h5 {
        font-size: 12px;
        font-family: ubuntu_regular;
    }

    .stepThree form>div p {
        font-size: 14px;
    }

    /*buttons*/
    .stepThree form .btn_next {
        bottom: -230px;
        right: -20px;
    }

    .stepThree form .btn_back {
        bottom: -230px;
        left: -40px;
    }

    /*stepFour component*/
    .stepFour {
        position: relative;
        bottom: 180px;
        right: 0;
        width: 100%;
        height: auto;
        background-color: white;
        border-radius: 20px;
    }

    .stepFour h1 {
        text-align: start;
        font-size: 25px;
        position: relative;
        right: 15px;
    }

    .stepFour p {
        letter-spacing: 0;
        text-align: start;
        font-size: 15px;
        font-family: ubuntu_regular;
        position: relative;
        right: 15px;
    }

    .stepFour form {
        padding-top: 0px;
        width: 280px;
        position: relative;
        right: 15px;

    }

    .stepFour form>div {
        width: 280px;

    }

    .stepFour form>section {
        width: 280px;
        height: 15vh;
        font-family: ubuntu_regular;
    }

    /*buttons*/
    .stepFour form .btn_finish {
        bottom: -280px;
        right: -20px;
    }

    .stepFour form .btn_back {
        bottom: -280px;
        left: -30px;
    }

    /*thankyou component*/
    .thankYou {
        position: relative;
        bottom: 180px;
        right: 0;
        width: 100%;
        height: auto;
        background-color: white;
        border-radius: 20px;
    }

    .thankYou img {
        width: 50px;
    }

    .thankYou h1 {
        font-size: 25px;
    }

    .thankYou p {
        font-family: ubuntu_regular;
        line-height: 20px;
        width: 100%;
        letter-spacing: 0;
        padding-bottom: 50px;
    }
}