@font-face {
    font-family: Ubuntu;
    src: url(./assets/fonts/Ubuntu-Bold.ttf);
}

body {
    background-color: hsl(229, 24%, 87%);
    font-family: ubuntu;
}

ul {
    list-style: none;
}

/*principal section*/
.principal_box {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 70vh;
    background-color: hsl(231, 100%, 99%);
    position: absolute;
    right: 20%;
    top: 15%;
    padding: 10px;
    border-radius: 20px;
}

/*navBar*/
.navBar {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    width: 20vw;
}

.navBar img {
    width: 20vw;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    padding: 15px;
    object-fit: cover;
    border-radius: 30px;
}

.navBar ul {
    z-index: 1;
}

.navBar ul>li {
    display: flex;
    flex: 1 100%;
    flex-wrap: nowrap;
    gap: 20px;
    flex-direction: row;
    padding-bottom: 20px;
}

.navBar ul>li>span {
    width: 35px;
    align-self: center;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
}

.navBar ul>li>h5 {

    justify-content: flex-end;
    align-items: flex-end;
    align-self: center;
    justify-self: flex-end;
    color: white;
}




/*stepOne component*/
.stepOne {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-self: center;
    padding: 20px 40px;
    text-wrap: wrap;
    text-align: center;
    font-size: 16px;
    width: 40vw;
}

.stepOne h1 {
    font-size: 35px;
    color: hsl(213, 96%, 18%);
}

.stepOne p {
    padding-bottom: 25px;
    font-size: 17px;
    letter-spacing: 1px;
    color: hsl(231, 11%, 63%);
}

.stepOne form {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
    height: 80%;
    gap: 10px;
    position: relative;
    padding-top: 30px;
}

.stepOne form input {
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 10px;
    color: hsl(213, 96%, 18%);
}

.stepOne form label {
    color: hsl(213, 96%, 18%);
}

.stepOne form button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: hsl(213, 96%, 18%);
    color: white;
}

.active {
    color: hsl(231, 11%, 63%) !important;
}

.active_back {
    background-color: hsl(231, 11%, 63%) !important;
    color: hsl(213, 96%, 18%) !important;
}

/*stepTwo component*/
.stepTwo {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-self: center;
    padding: 20px 40px;
    text-wrap: wrap;
    text-align: center;
    font-size: 16px;
    width: 40vw;
    height: calc(70vh - 10px);
}

.stepTwo form article {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: calc(40vw - 40px);
    padding: 40px 0px;
}

.stepTwo form article>span {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 10vw;
    height: 28vh;
    border: solid 1px hsl(229, 24%, 87%);
    border-radius: 20px;
    cursor: pointer;
    padding: 20px;
    color: hsl(213, 96%, 18%);
}
.select_box{
    border: solid 1px hsl(213, 96%, 18%) !important;
}
.stepTwo form article>span img{
    width: 50px;
    align-self: flex-start;
}
.stepTwo form article>span p{
    color: hsl(231, 11%, 63%);
}
/*duration selector*/
.stepTwo form div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 15px;
    background-color: hsl(229, 24%, 87%);
    border-radius: 10px;
}
.stepTwo form div h5 {
    color: hsl(213, 96%, 18%);
}
.stepTwo form div span{
    width: 34px;
    height: 18px;
    background-color: hsl(213, 96%, 18%);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
.stepTwo form div span::before{
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    top: 2.5px;
    right: 3px;
    background-color: white;
}
.active_current_btn{
    left: 3px;
}
.active_current_btn::before{
    left: 3px;
}









/*buttons*/
.stepTwo form .btn_next {
    position: absolute;
    bottom: 0;
    right: 30px;
    bottom: 30px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: hsl(213, 96%, 18%);
    color: white;
    cursor: pointer;
}

.stepTwo form .btn_back {
    position: absolute;
    bottom: 0;
    left: 30px;
    bottom: 30px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: hsl(213, 96%, 18%);
    color: white;
    cursor: pointer;
}